# Check pandas version:

In [2]:
import pandas as pd
import numpy as np
print(pd.__version__)

2.2.2

# Read dataset

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

# Length:

In [4]:
data.shape[0]

2160

# Number of brands:

In [5]:
len(data["Brand"].unique())

27

# Missing value:

In [6]:
data.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

# Maximum final price:

In [7]:
data[data["Brand"] == "Dell"]["Final Price"].max()

3936.0

# Median value of Screen:

Find the median value of Screen column in the dataset.

In [8]:
data["Screen"].median()

15.6

Next, calculate the most frequent value of the same Screen column.

In [9]:
data["Screen"].value_counts().head(1)

Screen
15.6    1009
Name: count, dtype: int64

Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.

In [10]:
data["Screen"] = data["Screen"].fillna(15.6)

In [11]:
data["Screen"].median()

15.6

# Sum of weights

Select all the "Innjoo" laptops from the dataset.

In [12]:
innjoo = data[data["Brand"] == "Innjoo"]

Select only columns RAM, Storage, Screen.

In [13]:
innjoo = innjoo[["RAM","Storage","Screen"]]
display(innjoo)

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

Get the underlying NumPy array. Let's call it X.

In [14]:
X = innjoo.to_numpy()

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [15]:
def vector_vector_multiplication(u, v):
    assert u.shape[0] == v.shape[0]
    
    n = u.shape[0]
    
    result = 0.0

    for i in range(n):
        result = result + u[i] * v[i]
    
    return result
def matrix_vector_multiplication(U, v):
    assert U.shape[1] == v.shape[0]
    
    num_rows = U.shape[0]
    
    result = np.zeros(num_rows)
    
    for i in range(num_rows):
        result[i] = vector_vector_multiplication(U[i], v)
    
    return result
def matrix_matrix_multiplication(U, V):
    assert U.shape[1] == V.shape[0]
    
    num_rows = U.shape[0]
    num_cols = V.shape[1]
    
    result = np.zeros((num_rows, num_cols))
    
    for i in range(num_cols):
        vi = V[:, i]
        Uvi = matrix_vector_multiplication(U, vi)
        result[:, i] = Uvi
    
    return result

In [16]:
XTX = matrix_matrix_multiplication(X.T,X)

Compute the inverse of XTX.

In [17]:
XTX_inv = np.linalg.inv(XTX)

Create the array y

In [18]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [19]:
w = matrix_matrix_multiplication(XTX_inv,X.T)
w = matrix_vector_multiplication(w, y)

In [21]:
np.sum(w)

91.29988062995488